<!doctype html>
<html>
<head>
	<title>Michael Ion</title>
	<meta charset="UTF-8" />
	<meta name="description" content="Eine herkömmliche Ein-Mann-Website in den Händen eines der Spezies Homo Sapiens angehörenden Individuums namens Michael Ion" />
	<meta name="keywords" content="Michael, Antonius, Ion" />
	<meta name="author" content="Michael Ion" />
	<link rel="stylesheet" type="text/css" href="http://michaelion.net/css/stylesheet.css"/>
	<link rel="stylesheet" type="text/css" href="http://michaelion.net/css/handheld.css" media="handheld" />
    <!-- Schnellwahl-Icon: -->
	<link rel="icon" type="image/png" href="http://michaelion.net/bilder/sdicon.png"/>
	<link rel="icon" type="image/png" href="http://michaelion.net/bilder/favicon.png"/>
</head>

<body>
<div id="wrapper">
	<nav id="navigation">
		<ul>
			<span><a href="http://michaelion.net/en/index.html"><div class="sidepic" id="reset"></div></a><li id="top"><a href="http://michaelion.net/en/index.html">&nbsp;.reset</a></li></span>
			<span><a href="http://michaelion.net/en/inhalt/zeug.html"><div class="sidepic" id="stuff"></div></a><li><a href="http://michaelion.net/en/inhalt/zeug.html">&nbsp;.stuff</a></li></span>
			<span><a href="http://michaelion.net/blog"><div class="sidepic" id="self"></div></a><li><a href="http://michaelion.net/blog">&nbsp;.blog</a></li></span>
			<span><a href="http://michaelion.net/en/inhalt/soz.html"><div class="sidepic" id="soc"></div></a><li id="bottom"><a href="http://michaelion.net/en/inhalt/soz.html">&nbsp;.social</a></li></span>
		</ul> 
		
			<a href="http://michaelion.net/en/index.html"><img id="english" alt="English Language" src="http://michaelion.net/bilder/UnionJack.png"/></a>

	</nav>

	<section id="main">
	{{ content }}
	</section>
	<footer>
		<a href="http://michaelion.net/en/inhalt/ich.html"> &#169; 2012 Michael Ion</a>
	</footer>
</div>
</body>
</html>